<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="chessalpha-game">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `chessalpha-game`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ChessalphaGame extends Polymer.Element {
      static get is() { return 'chessalpha-game'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'chessalpha-game'
          }
        };
      }
    }

    window.customElements.define(ChessalphaGame.is, ChessalphaGame);
  </script>
</dom-module>
